use asdf

# Cloudflare Pages configuration
export CLOUDFLARE_PAGES_PROJECT=$(grep '^name = ' wrangler.toml | head -1 | sed 's/name = "\(.*\)"/\1/')
export CLOUDFLARE_PAGES_DASHBOARD_URL=https://dash.cloudflare.com/pages/view/$CLOUDFLARE_PAGES_PROJECT

# Load and export environment variables if they exist
if [ -f .env ]; then set -a; source .env; set +a; fi
