use asdf

# Cloudflare Pages configuration
export CLOUDFLARE_ACCOUNT_ID=$(wrangler whoami | grep -o '[a-f0-9]\{32\}' | head -1)
export CLOUDFLARE_PAGES_PROJECT=$(grep '^name = ' wrangler.toml | head -1 | sed 's/name = "\(.*\)"/\1/')
if [ "$(git branch --show-current)" == "dev" ]; then
  export CLOUDFLARE_PAGES_PROJECT="dev-$CLOUDFLARE_PAGES_PROJECT"
fi
export CLOUDFLARE_PAGES_DASHBOARD_URL=https://dash.cloudflare.com/$CLOUDFLARE_ACCOUNT_ID/pages/view/$CLOUDFLARE_PAGES_PROJECT

# Load and export environment variables if they exist
if [ -f .env ]; then set -a; source .env; set +a; fi
