{{ range . -}}
{{ $start_time := time.AsTime .Params.event_start -}}
{{ $end_time := time.AsTime .Params.event_end -}}
<article class="event-entry entry{{ if (gt time.Now $end_time) }} expired{{ end }}">
  <div class="thumb{{ if not .Params.image }} hide-small{{ end }}">
  {{ $link := .RelPermalink -}}
  {{ with .Resources.Get .Params.image -}}
    {{ $thumb := .Resize "300x" -}}
    {{ with $thumb }}
      <a href="{{ $link }}"><img src="{{ .RelPermalink }}" /></a>
    {{ end -}}
  {{ else }}
    <a href="{{ $link }}"><img src="/images/logo-purple.png" /></a>
  {{- end }}
  </div>
  <div class="content">
    <h3>
      <a href="{{ $link }}">{{ .Title }}</a>
    </h3>
    {{ partial "content/event-timespan.html" (dict "start_time" $start_time "end_time" $end_time) }}
    {{- if .Summary -}}<p class="summary">{{ .Summary }}</p>{{- end -}}
  </div>
</article>
{{ end }} 