{{- $header_style := "margin: 0.3rem 0 0.2rem 0" -}}
{{- $link_style := "display: inline-block; padding: 0.2rem 0.4rem; margin: 0.2rem; border-radius: 0.4rem; color: #000; background-color: #eee; text-decoration: none;" -}}

{{- with .Site.Params -}}

<div style="font-size: 0.8rem !important; margin: 0 !important; text-align: left !important;">

  <h4 style="{{ $header_style }}">Stay Connected</h4>
  <span style="display: inline-block;">

  <a href="{{ .Site.BaseURL }}" target="_blank" style="{{ $link_style }}">
    &#127760; {{ .site_link_text | default "Web Site" }}
  </a>

  <a href="{{ .Site.BaseURL }}/go/newsletter" target="_blank" style="{{ $link_style }}">
    &#128478;&#65039; Newsletter
  </a>

  </span>
  <span style="display: inline-block;">

  {{- if .phone -}}
  {{- $phone_title := "Phone" -}}
  {{- if .phone_can_text }}{{ $phone_title = "Phone / Text" }}{{ end -}}
  <a href="tel:{{ .phone }}" target="_blank" style="{{ $link_style }}">
    &#128222; {{ $phone_title }}
  </a>
  {{- end -}}

  {{- if .email -}}
  <a href="mailto:{{ .email }}" target="_blank" style="{{ $link_style }}">
    &#128231; Email
  </a>
  {{- end -}}

  </span>
  <h4 style="{{ $header_style }}">Follow Us</h4>
  <span style="display: inline-block;">

  {{- if .facebook -}}
    <a href="https://facebook.com/{{ .facebook }}" target="_blank" style="{{ $link_style }}">
    &#128077; Facebook
    </a>
  {{- end -}}

  {{- if .instagram -}}
    <a href="https://instagram.com/{{ .instagram }}" target="_blank" style="{{ $link_style }}">
    &#128248; Instagram
    </a>
  {{- end -}}

  {{- if .threads -}}
    <a href="https://threads.net/@{{ .threads }}" target="_blank" style="{{ $link_style }}">
    &#129525; Threads
    </a>
  {{- end -}}

  </span>
  <span style="display: inline-block;">

  {{- if .twitter -}}
    <a href="https://twitter.com/{{ .twitter }}" target="_blank" style="{{ $link_style }}">
    &#128038; Twitter
    </a>
  {{- end -}}

  {{- if .youtube -}}
    <a href="https://youtube.com/{{ .youtube }}" target="_blank" style="{{ $link_style }}">
    &#128250; YouTube
    </a>
  {{- end -}}

  {{- if .tiktok -}}
    <a href="https://tiktok.com/@{{ .tiktok }}" target="_blank" style="{{ $link_style }}">
    &#128241; TikTok
    </a>
  {{- end -}}

  </span>
  <h4 style="{{ $header_style }}">Join the Community</h4>

  {{- if .facebook_group -}}
    <a href="https://facebook.com/groups/{{ .facebook_group }}" target="_blank" style="{{ $link_style }}">
    &#128101; Facebook Group
    </a>
  {{- end -}}

  {{- if .discord_server -}}
    <a href="{{ .discord_server_invite }}" target="_blank" style="{{ $link_style }}">
    &#128172; Discord
    </a>
  {{- end -}}

</div>

{{- end -}}