<style>
nav.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1em;
  margin: 0;
  background-color: var(--48-purple);
  background: radial-gradient(
    circle at center,
    var(--48-purple-dark) 0%,
    var(--48-purple-dark) 50%,
    var(--48-black) 100%
  );
}
</style>

<nav class="main">
  {{ range .Site.Menus.main -}}
  {{ partial "components/button.html" (dict
    "url" .URL
    "text" .Name
    "class" (printf "%s border right" (.Params.class | default ""))
    "target" .Params.target
    "icon" .Params.icon
  ) -}}
  {{- end }}
</nav>