{{- $tag := .tag | default "div" -}}
{{- $collapse := .collapse -}}
{{- $show_text := .show_text -}}
{{- $class := .class | default "button-list" -}}
{{- if ne $class "button-list" -}}
  {{- $class = printf "button-list %s" $class -}}
{{- end -}}
{{- $button_class := .button_class | default "button" -}}
{{- if ne $button_class "button" -}}
  {{- $button_class = printf "button %s" $button_class -}}
{{- end -}}

{{- printf "<%s class=\"%s\">" $tag $class | safeHTML -}}

{{- range .buttons -}}
        {{- partial "components/button.html" (dict
    "url" .url
    "target" .target
    "text" .text
    "icon" .icon
    "class" $button_class
    "collapse" $collapse
    "show_text" $show_text
    "alt" (default .alt .icon)
    "title" (default .title .text)
  ) -}}
{{- end -}}

{{- printf "</%s>" $tag | safeHTML -}}