{{- if not (and .url .text) -}}{{- return -}}{{- end -}}
{{- if and (isset . "if") (not .if) -}}{{- return -}}{{- end -}}
{{- $url := .url -}}
{{- $target := .target | default "_blank" -}}
{{- $text := .text -}}
{{- $icon := .icon -}}
{{- $icon2 := .icon2 -}}
{{- $collapse := .collapse | default false -}}
{{- $show_text := .show_text | default true -}}
{{- $alt := .alt | default $text -}}
{{- $title := .title | default $text -}}
{{- $class := .class | default "button" -}}
{{- if ne $class "button" -}}
  {{- $class = printf "button %s" $class -}}
{{- end -}}

{{- /* Function to determine icon based on URL */ -}}
{{- $getIconFromUrl := "" -}}
{{- if strings.Contains $url "facebook.com/groups" -}}
  {{- $getIconFromUrl = "group" -}}
{{- else if strings.Contains $url "facebook.com" -}}
  {{- $getIconFromUrl = "facebook" -}}
{{- else if strings.Contains $url "instagram.com" -}}
  {{- $getIconFromUrl = "instagram" -}}
{{- else if strings.Contains $url "threads.net" -}}
  {{- $getIconFromUrl = "threads" -}}
{{- else if strings.Contains $url "x.com" -}}
  {{- $getIconFromUrl = "twitter" -}}
{{- else if strings.Contains $url "twitter.com" -}}
  {{- $getIconFromUrl = "twitter" -}}
{{- else if strings.Contains $url "youtube.com" -}}
  {{- $getIconFromUrl = "youtube" -}}
{{- else if strings.Contains $url "tiktok.com" -}}
  {{- $getIconFromUrl = "tiktok" -}}
{{- else if strings.Contains $url "maps.google.com" -}}
  {{- $getIconFromUrl = "location" -}}
{{- else if strings.Contains $url "maps.app.goo.gl" -}}
  {{- $getIconFromUrl = "location" -}}
{{- else if strings.Contains $url "calendarlink.com" -}}
  {{- $getIconFromUrl = "calendar" -}}
{{- else if strings.Contains $url "mailto:" -}}
  {{- $getIconFromUrl = "email" -}}
{{- else if strings.Contains $url "tel:" -}}
  {{- $getIconFromUrl = "phone" -}}
{{- else if strings.Contains $url "discord.com" -}}
  {{- $getIconFromUrl = "discord" -}}
{{- else if strings.Contains $url "discord.gg" -}}
  {{- $getIconFromUrl = "discord" -}}
{{- else if strings.Contains $url "/go/newsletter" -}}
  {{- $getIconFromUrl = "newsletter" -}}
{{- else if strings.Contains $url "/events" -}}
  {{- $getIconFromUrl = "calendar" -}}
{{- else if strings.Contains $url "/partners" -}}
  {{- $getIconFromUrl = "heart" -}}
{{- else -}}
  {{- $getIconFromUrl = "none" -}}
{{- end -}}

{{- /* Set default icon if not specified */ -}}
{{- if not $icon -}}
  {{- $icon = $getIconFromUrl -}}
{{- end -}}

{{- /* Set fallback icon for icon-only buttons */ -}}
{{- if and (eq $icon "none") (not $show_text) -}}
  {{- $icon = "globe" -}}
{{- end -}}

{{- /* Function to render an icon */ -}}
{{- define "renderIcon" -}}
  {{- if ne .icon "none" -}}
    {{- partial "components/icon.html" (dict
        "icon" .icon
        "alt" .alt
        "title" .title
    ) -}}
  {{- end -}}
{{- end -}}

<a href="{{ $url }}" target="{{ $target }}" class="{{ $class }}">
  {{- /* Always render in this order: icon, text, icon2 */ -}}
  {{- template "renderIcon" (dict "icon" $icon "alt" $alt "title" $title) -}}
  
  {{- if and $show_text $collapse -}}
    <span class="reveal">{{- .text -}}</span>
  {{- else if $show_text -}}
    <span>{{- .text -}}</span>
  {{- end -}}
  
  {{- if $icon2 -}}
    {{- template "renderIcon" (dict "icon" $icon2 "alt" $alt "title" $title) -}}
  {{- end -}}
</a>
