<span class="countdown{{ if isset . "show_after" }} visible-after-{{ .show_after }}{{ end }} visible-before-{{ .show_before | default .date }}">
{{ if isset . "prefix" -}}
  {{ .prefix }}
{{ end }}
<span class="countdown-to-{{ .date }}">
  {{- if isset . "default" }}{{ .default }}{{ end -}}
</span>
{{ if isset . "suffix" -}}
  {{ .suffix }}
{{- end }}
{{ if isset . "button" -}}
<span class="countdown-button">
{{- if isset . "button_prefix" -}}
  {{ .button_prefix }}
{{- end -}}
{{ partial "components/button.html" .button -}}
</span>
{{- end -}}
</span>