{{- $start_time := time.AsTime .date -}}
{{- $timespan_text := "" -}}

{{- if and .end_date .prefix_date -}}
  {{- $timespan_text = partial "content/event-timespan.html" (dict
      "start_time" $start_time
      "end_time" (time.AsTime .end_date)
      "plain" true
      "date_only" .date_only
  ) -}}
{{- end -}}

<div class="countdown{{ with .class }} {{ . }}{{ end }}{{ if isset . "visible_from" }} visible-from-{{ .visible_from }}{{ end }} visible-to-{{ .visible_to | default .date }}">
{{ if $timespan_text -}}
<span class="countdown-prefix">{{ $timespan_text }}</span>
{{- end -}}
{{ if isset . "prefix" -}}
<span class="countdown-prefix">{{ .prefix }}</span>
{{- end -}}
<span class="countdown-to-{{ .date }}">
{{- if isset . "default" }}{{ .default }}{{ end -}}
</span>
{{ if isset . "suffix" -}}
<span class="countdown-suffix">{{ .suffix }}</span>
{{- end }}
{{ if isset . "button" -}}
{{- if isset . "button_prefix" -}}
<span class="countdown-button-prefix">{{ .button_prefix }}</span>
{{- end -}}
{{ partial "components/button.html" (merge .button (dict "class" "countdown-button")) -}}
</span>
{{- end -}}
</div>