{{- $icon := .icon | default "link" -}}
{{- $alt := .alt | default $icon -}}
{{- $title := .title -}}
{{- $class := cond (not .class) "icon" (printf "icon %s" (default "" .class)) -}}

{{- $img := resources.Get (printf "icons/%s.png" $icon) -}}
{{- if not $img }}{{- return }}{{- end -}}
{{- if and .px (ne .px "") -}}
  {{- $px := .px | int -}}
  {{- $img = $img.Resize (printf "%dx" $px) -}}
{{- end -}}
{{- $src := $img.RelPermalink -}}

{{- if .embed -}}
  {{- $src = printf "data:image/png;base64,%s" ($img.Content | base64Encode) -}}
{{- end -}}

<img src="{{ $src | safeURL }}" {{ with .title }}title="{{ . }}" {{ end -}}
  class="{{ $class }}" alt="{{ $alt }}"/>