.events {
  padding: 2rem;
  background: var(--48-purple-light);
  background: linear-gradient(
                135deg, 
                var(--48-purple-nearwhite) 0%, 
                var(--48-purple-light) 100%
              );
  border-radius: 0.75rem;
  border: 0.25rem solid var(--48-darken);
  box-shadow: 0.5rem 0.5rem 1rem 0 var(--48-darken);
}

.featured-events {
  background-color: var(--48-orange-trans-more);
  border: 0.125rem solid var(--48-darken);
  border-radius: 1rem;
  padding: 1rem;
  margin: 0 auto 1.5rem auto;
}

.event {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

@media all and (max-width: 768px) {
  .event {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

.event-image {
  width: 100%;
  display: block;
  margin: 0 auto 1em auto;
}

.timespan {
  color: var(--48-darken-more);
  padding-top: 0.5rem 0;
}

.expired {
  opacity: 0.75;
}
