.infoblock {
  display: block;
  padding: 1rem;
  text-align: left;
  background-color: var(--48-orange);
  border: 0.125rem solid var(--48-darken);
  border-radius: 0.5rem;
  float: right;
  width: 25vw;
  margin-left: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 0;
  float: right;
  order: -100;
}

@media all and (max-width: 768px) {
  .infoblock {
    float: none;
    width: calc(60vw + (768px - 100vw) * 0.6);
    min-width: 60vw;
    max-width: 100%;
    margin: 0 auto 1rem auto;
    float: none;
    order: 100;
  }
}

.infoblock img {
  width: 100%;
  max-width: min(100%, 20rem);
  height: auto;
  float: none;
  margin: 0 auto 1rem auto;
  display: block;
}

.infoblock a {
  color: var(--48-black);
  text-decoration: none;
}

.infoblock a:hover, .infoblock a:active {
  text-decoration: underline;
}

.infoblock a.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  margin: 0.25rem 0 0.5rem 0;
  padding: 0.375rem;
  text-align: center;
  color: var(--48-white);
  background-color: var(--48-purple);
  text-decoration: none;
  font-weight: 400;
  line-height: 1;
}

.infoblock a.button:hover, .infoblock a.button:active {
  color: var(--48-purple);
  background-color: var(--48-white);
  font-weight: 700;
  letter-spacing: 0.015rem;
}

.infoblock a.button .icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0.25rem;
  margin-right: var(--icon-spacing, 0.25em);
}

.infoblock a.button .icon svg {
  width: 1.5em;
  height: 1.5em;
  display: block;
}

.infoblock .social a.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin:  0 0.25rem;
  padding: 0.25rem;
  text-align: center;
  color: var(--48-white);
  background-color: var(--48-black);
  text-decoration: none;
  opacity: 0.15;
  font-weight: 400;
  line-height: 1;
}

.infoblock .social a.button:hover, .infoblock .social a.button:active {
  color: var(--48-black);
  background-color: var(--48-white);
  font-weight: 700;
  opacity: 1;
  letter-spacing: 0.015rem;
}

.infoblock .social a.button .icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: var(--icon-spacing, 0.25em);
}

.infoblock .social a.button .icon svg {
  width: 1em;
  height: 1em;
  display: block;
}

.infoblock .links {
  display: block;
  width: 100%;
}

.infoblock .links a.button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.infoblock h3 {
  margin-top: 2em;
  margin-bottom: 0.5rem;
}

.infoblock h4 {
  text-align: center;
}

.infoblock hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

