.infoblock {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  text-align: left;
  background-color: var(--48-orange);
  border: 0.125rem solid var(--48-darken);
  border-radius: 0.5rem;
  width: 100%;
}

@media all and (max-width: 768px) {
  .infoblock {
    width: 100%;
    margin: 0 auto 1rem auto;
  }
}

.infoblock img {
  width: 100%;
  max-width: min(100%, 20rem);
  height: auto;
  float: none;
  margin: 0 auto 1rem auto;
  display: block;
}

.infoblock a {
  text-decoration: none;
}

.infoblock a:hover, .infoblock a:active {
  text-decoration: underline;
}

.infoblock .links a.button {
  width: 100%;
  margin: 0 auto;
}

.infoblock .social a.button {
  color: var(--48-white);
  background-color: var(--48-black);
  opacity: 0.25;
  --icon-color: var(--48-white);
  --icon-hover-color: var(--48-black);
}

.infoblock .social a.button:hover, .infoblock .social a.button:active {
  color: var(--48-black);
  background-color: var(--48-white);
  opacity: 1;
}

.infoblock h3 {
  background-color: var(--48-lighten);
  padding: 0.5rem;
  margin: 2em 0 0.5rem 0;
}

.infoblock h4 {
  text-align: center;
}

.infoblock hr {
  height: 1px;
  background-image: linear-gradient(to right, transparent, var(--48-purple), transparent);
}

