{{- /*
  Plain HTML announcement blocks for the city message embed (matches 48hourfilm.com/sandiego).

  Parameters:
    announcements - collection of announcement pages to display
*/ -}}

{{- $announcements := .announcements -}}
{{- if not $announcements -}}{{- return -}}{{- end -}}

{{- range $announcements -}}
{{- $page := . -}}
<p><br><strong>{{ .Title }}</strong></p>
{{- if .Content -}}
{{- $base := strings.TrimSuffix "/" .Site.BaseURL -}}
{{- replace .Content "href=\"/" (printf "href=\"%s/" $base) | safeHTML -}}
{{- else if .Summary -}}
<p>{{ .Summary }}</p>
{{- end -}}
{{- with .Params.button -}}
{{- $href := .url -}}
{{- if and $href (not (hasPrefix $href "http")) -}}
  {{- $href = printf "%s%s" (strings.TrimSuffix "/" $page.Site.BaseURL) $href -}}
{{- end -}}
<p><a target="_blank" rel="noopener noreferrer nofollow" href="{{ $href }}">{{ .text | default "Learn More" }}</a> {{ .emoji | default "➡️" }}</p>
{{- end -}}
{{- end -}}
