{{- $px := .px | default 32 | int -}}
{{- $color := .color | default "white" -}}
{{- $icon_color := .icon_color | default $color -}}
{{- $show_text := .show_text | default true -}}
{{- $show_icon := .show_icon | default true -}}
{{- $show_id := .show_id | default false -}}
{{- $enable_home := .enable_home | default false -}}
{{- $enable_contact := .enable_contact | default false -}}
{{- $enable_headings := .enable_headings | default false -}}
{{- $enable_newsletter := .enable_newsletter | default false -}}

{{- $class := "social" -}}
{{- if .class }}{{ $class = .class }}{{ end -}}
{{- $link_class := printf "%s-link" $class -}}
{{- $header_class := printf "%s-header" $class -}}
{{- $img_class := printf "%s-img" $class -}}
{{- $text_class := printf "%s-text" $class -}}

{{- $nav_atttibs := printf `class="%s"` $class | safeHTMLAttr -}}
{{- $header_atttibs := printf `class="%s"` $header_class | safeHTMLAttr -}}
{{- $link_atttibs := printf `target="_blank" class="%s"` $link_class | safeHTMLAttr -}}
{{- $text_atttibs := printf `class="%s"` $text_class | safeHTMLAttr -}}

{{- with .Site.Params -}}

<nav {{ $nav_atttibs }}>

  {{- if $enable_headings -}}
    <h4 {{ $header_atttibs }}>Stay Connected</h4>
    <span class="social-section">
  {{- end -}}

  {{- if $enable_home -}}
    <a href="{{ .Site.BaseURL }}" {{ $link_atttibs }}>
    {{- if $show_icon -}}
    {{- partial "icon.html" (
      dict
        "icon" "globe"
        "color" $icon_color
        "px" $px
        "class" $img_class
        "alt" .site_link_text
        "title" (cond (not $show_text) .site_link_text "")
    ) -}}
    {{- end -}}
    {{- if $show_text -}}
      <span {{ $text_atttibs }}>{{ .site_link_text }}</span>
    {{- end -}}
    </a>
  {{- end -}}

  {{- if $enable_newsletter -}}
    <a href="{{ .Site.BaseURL }}/go/newsletter" {{ $link_atttibs }}>
    {{- if $show_icon -}}
    {{- partial "icon.html" (
      dict
        "icon" "newsletter"
        "color" $icon_color
        "px" $px
        "class" $img_class
        "alt" "Newsletter"
        "title" (cond (not $show_text) "Newsletter" "")
    ) -}}
    {{- end -}}
    {{- if $show_text -}}
      <span {{ $text_atttibs }}>Newsletter</span>
    {{- end -}}
    </a>
  {{- end -}}

  {{- if $enable_headings -}}
    </span>
    <span class="social-section">
  {{- end -}}

  {{- if and $enable_contact .phone -}}
  {{- $phone_title := "Phone" -}}
  {{- if .phone_can_text }}{{ $phone_title = "Phone / Text" }}{{ end -}}
  <a href="tel:{{ .phone }}" {{ $link_atttibs }}>
    {{- if $show_icon -}}
    {{- partial "icon.html" (
      dict
        "icon" "phone"
        "color" $icon_color
        "px" $px
        "class" $img_class
        "alt" $phone_title
        "title" (cond (not $show_text) $phone_title "")
    ) -}}
    {{- end -}}
    {{- if $show_text -}}
      <span {{ $text_atttibs }}>{{ $phone_title }}</span>
    {{- end -}}
    {{- if $show_id -}}
      <span {{ $text_atttibs }}>{{ .phone }}</span>
    {{- end -}}
    </a>
  {{- end -}}

  {{- if and $enable_contact .email -}}
  <a href="mailto:{{ .email }}" {{ $link_atttibs }}>
    {{- if $show_icon -}}
    {{- partial "icon.html" (
      dict
        "icon" "email"
        "color" $icon_color
        "px" $px
        "class" $img_class
        "alt" "Email"
        "title" (cond (not $show_text) "Email" "")
    ) -}}
    {{- end -}}
    {{- if $show_text -}}
      <span {{ $text_atttibs }}>Email</span>
    {{- end -}}
    {{- if $show_id -}}
      <span {{ $text_atttibs }}>{{ .email }}</span>
    {{- end -}}
    </a>
  {{- end -}}

  {{- if $enable_headings -}}
    </span>
    <h4 {{ $header_atttibs }}>Follow Us</h4>
    <span class="social-section">
  {{- end -}}

  {{- if .facebook -}}
    <a href="https://facebook.com/{{ .facebook }}" {{ $link_atttibs }}>
    {{- if $show_icon -}}
    {{- partial "icon.html" (
      dict
        "icon" "facebook"
        "color" $icon_color
        "px" $px
        "class" $img_class
        "alt" "Facebook Page"
        "title" (cond (not $show_text) "Facebook" "")
    ) -}}
    {{- end -}}
    {{- if $show_text -}}
      <span {{ $text_atttibs }}>Facebook</span>
    {{- end -}}
    {{- if $show_id -}}
      <span {{ $text_atttibs }}>@{{ .facebook }}</span>
    {{- end -}}
    </a>
  {{- end -}}

  {{- if .instagram -}}
    <a href="https://instagram.com/{{ .instagram }}" {{ $link_atttibs }}>
    {{- if $show_icon -}}
    {{- partial "icon.html" (
      dict
        "icon" "instagram"
        "color" $icon_color
        "px" $px
        "class" $img_class
        "alt" "Instagram"
        "title" (cond (not $show_text) "Instagram" "")
    ) -}}
    {{- end -}}
    {{- if $show_text -}}
      <span {{ $text_atttibs }}>Instagram</span>
    {{- end -}}
    {{- if $show_id -}}
      <span {{ $text_atttibs }}>@{{ .instagram }}</span>
    {{- end -}}
    </a>
  {{- end -}}

  {{- if .threads -}}
    <a href="https://threads.net/@{{ .threads }}" {{ $link_atttibs }}>
    {{- if $show_icon -}}
    {{- partial "icon.html" (
      dict
        "icon" "threads"
        "color" $icon_color
        "px" $px
        "class" $img_class
        "alt" "Threads"
        "title" (cond (not $show_text) "Threads" "")
    ) -}}
    {{- end -}}
    {{- if $show_text -}}
      <span {{ $text_atttibs }}>Threads</span>
    {{- end -}}
    {{- if $show_id -}}
      <span {{ $text_atttibs }}>@{{ .threads }}</span>
    {{- end -}}
    </a>
  {{- end -}}

  {{- if $enable_headings -}}
    </span>
    <span class="social-section">
  {{- end -}}

  {{- if .twitter -}}
    <a href="https://twitter.com/{{ .twitter }}" {{ $link_atttibs }}>
    {{- if $show_icon -}}
    {{- partial "icon.html" (
      dict
        "icon" "twitter"
        "color" $icon_color
        "px" $px
        "class" $img_class
        "alt" "Twitter"
        "title" (cond (not $show_text) "Twitter" "")
    ) -}}
    {{- end -}}
    {{- if $show_text -}}
      <span {{ $text_atttibs }}>Twitter</span>
    {{- end -}}
    {{- if $show_id -}}
      <span {{ $text_atttibs }}>@{{ .twitter }}</span>
    {{- end -}}
    </a>
  {{- end -}}

  {{- if .youtube -}}
    <a href="https://youtube.com/{{ .youtube }}" {{ $link_atttibs }}>
    {{- if $show_icon -}}
    {{- partial "icon.html" (
      dict
        "icon" "youtube"
        "color" $icon_color
        "px" $px
        "class" $img_class
        "alt" "YouTube"
        "title" (cond (not $show_text) "YouTube" "")
    ) -}}
    {{- end -}}
    {{- if $show_text -}}
      <span {{ $text_atttibs }}>YouTube</span>
    {{- end -}}
    {{- if $show_id -}}
      <span {{ $text_atttibs }}>@{{ .youtube }}</span>
    {{- end -}}
    </a>
  {{- end -}}

  {{- if .tiktok -}}
    <a href="https://tiktok.com/@{{ .tiktok }}" {{ $link_atttibs }}>
    {{- if $show_icon -}}
    {{- partial "icon.html" (
      dict
        "icon" "tiktok"
        "color" $icon_color
        "px" $px
        "class" $img_class
        "alt" "TikTok"
        "title" (cond (not $show_text) "TikTok" "")
    ) -}}
    {{- end -}}
    {{- if $show_text -}}
      <span {{ $text_atttibs }}>TikTok</span>
    {{- end -}}
    {{- if $show_id -}}
      <span {{ $text_atttibs }}>@{{ .tiktok }}</span>
    {{- end -}}
    </a>
  {{- end -}}

  {{- if $enable_headings -}}
    </span>
    <h4 {{ $header_atttibs }}>Join the Community</h4>
  {{- end -}}

  {{- if .facebook_group -}}
    <a href="https://facebook.com/groups/{{ .facebook_group }}" {{ $link_atttibs }}>
    {{- if $show_icon -}}
    {{- partial "icon.html" (
      dict
        "icon" "group"
        "color" $icon_color
        "px" $px
        "class" $img_class
        "alt" "Facebook Group"
        "title" (cond (not $show_text) "Facebook Group" "")
    ) -}}
    {{- end -}}
    {{- if $show_text -}}
      <span {{ $text_atttibs }}>Facebook Group</span>
    {{- end -}}
    </a>
  {{- end -}}

  {{- if .discord_server -}}
    <a href="{{ .discord_server_invite }}" {{ $link_atttibs }}>
    {{- if $show_icon -}}
      {{- partial "icon.html" (
      dict
        "icon" "discord"
        "color" $icon_color
        "px" $px
        "class" $img_class
        "alt" "Discord"
        "title" (cond (not $show_text) "Discord" "")
    ) -}}
    {{- end -}}
    {{- if $show_text -}}
      <span {{ $text_atttibs }}>Discord</span>
    {{- end -}}
    </a>
  {{- end -}}

</nav>

{{- end -}}
