{{- $px := .px | default 32 | int -}}
{{- $size := .size | default 1.0 | float -}}
{{- $color := .color | default "white" -}}
{{- $bg_color := .bg_color | default "black" -}}
{{- $icon_color := .icon_color | default $color -}}
{{- $embed := .embed | default false -}}
{{- $show_text := .show_text | default true -}}
{{- $show_emoji := .show_emoji | default false -}}
{{- $show_icon := .show_icon | default true -}}
{{- $show_id := .show_id | default false -}}
{{- $enable_home := .enable_home | default false -}}
{{- $enable_contact := .enable_contact | default false -}}
{{- $enable_headings := .enable_headings | default false -}}
{{- $enable_newsletter := .enable_newsletter | default false -}}

{{- $class := "social" -}}
{{- if .class }}{{ $class = .class }}{{ end -}}
{{- $link_class := printf "%s-link" $class -}}
{{- $header_class := printf "%s-header" $class -}}
{{- $img_class := printf "%s-img" $class -}}
{{- $text_class := printf "%s-text" $class -}}

{{- $size_1 := ((div $size 4) | float) -}}
{{- $size_2 := ((div $size 2) | float) -}}
{{- $size_3 := ((mul $size 1.5) | float) -}}

{{- $nav_style := printf "font-size: %.2frem; margin: %.2frem 0; text-align: center;" $size $size_1 -}}
{{- $header_style := printf "font-size: %.2frem; margin: %.2frem 0" $size $size_1 -}}
{{- $link_style := printf "display: inline-block; padding: %.2frem %.2frem; margin: %.2frem; border-radius: %.2frem; color: %s; background-color: %s; text-decoration: none;" $size_1 $size_2 $size_1 $size_2 $color $bg_color -}}
{{- $text_style := printf "margin: %.2frem; text-decoration: none; display: inline-block; vertical-align: middle; vertical-align: text-top;" $size_1 -}}
{{- $img_style := printf "margin: %.2frem; height: %.2frem; width: auto; vertical-align: middle;" $size_1 $size_3 -}}

{{ if .nav_style }}{{ $nav_style = printf "%s; %s" $nav_style .nav_style }}{{ end -}}
{{ if .header_style }}{{ $header_style = printf "%s; %s" $header_style .header_style }}{{ end -}}
{{ if .link_style }}{{ $link_style = printf "%s; %s" $link_style .link_style }}{{ end -}}
{{ if .text_style }}{{ $text_style = printf "%s; %s" $text_style .text_style }}{{ end -}}
{{ if .img_style }}{{ $img_style = printf "%s; %s" $img_style .img_style }}{{ end -}}

{{- $nav_atttibs := `` -}}
{{- if $nav_style -}}{{- $nav_atttibs = printf `%s style="%s"` $nav_atttibs $nav_style -}}{{- end -}}
{{- if and $class (not $embed) -}}{{- $nav_atttibs = printf `%s class="%s"` $nav_atttibs $class -}}{{- end -}}
{{- $nav_atttibs = $nav_atttibs | safeHTMLAttr -}}

{{- $header_atttibs := `` -}}
{{- if $header_style -}}{{- $header_atttibs = printf `%s style="%s"` $header_atttibs $header_style -}}{{- end -}}
{{- if and $class (not $embed) -}}{{- $header_atttibs = printf `%s class="%s"` $header_atttibs $header_class -}}{{- end -}}
{{- $header_atttibs = $header_atttibs | safeHTMLAttr -}}

{{- $link_atttibs := `target="_blank"` -}}
{{- if $link_style -}}{{- $link_atttibs = printf `%s style="%s"` $link_atttibs $link_style -}}{{- end -}}
{{- if and $link_class (not $embed) -}}{{- $link_atttibs = printf `%s class="%s"` $link_atttibs $link_class -}}{{- end -}}
{{- $link_atttibs = $link_atttibs | safeHTMLAttr -}}

{{- $text_atttibs := `` -}}
{{- if $text_style -}}{{- $text_atttibs = printf `%s style="%s"` $text_atttibs $text_style -}}{{- end -}}
{{- if and $text_class (not $embed) -}}{{- $text_atttibs = printf `%s class="%s"` $text_atttibs $text_class -}}{{- end -}}
{{- $text_atttibs = $text_atttibs | safeHTMLAttr -}}

{{- with .Site.Params -}}

{{- if $embed -}}
<div {{ $nav_atttibs }}>
{{- else -}}
<nav {{ $nav_atttibs }}>
{{- end -}}

  {{- if $enable_headings -}}
    <h4 {{ $header_atttibs }}>Stay Connected</h4>
    <span style="display: inline-block;">
  {{- end -}}

  {{- if $enable_home -}}
    <a href="{{ .Site.BaseURL }}" {{ $link_atttibs }}>
    {{- if $show_icon -}}
    {{- partial "icon.html" (
      dict
        "icon" "globe"
        "color" $icon_color
        "px" $px
        "class" (cond $embed "" $img_class)
        "style" $img_style
        "embed" $embed
        "alt" .site_link_text
        "title" (cond (not $show_text) .site_link_text "")
    ) -}}
    {{- end -}}
    {{- if $show_emoji -}}
      <span {{ $text_atttibs }}>🌐</span>
    {{- end -}}
    {{- if $show_text -}}
      <span {{ $text_atttibs }}>{{ .site_link_text }}</span>
    {{- end -}}
    </a>
  {{- end -}}

  {{- if $enable_newsletter -}}
    <a href="{{ .Site.BaseURL }}/go/newsletter" {{ $link_atttibs }}>
    {{- if $show_icon -}}
    {{- partial "icon.html" (
      dict
        "icon" "newsletter"
        "color" $icon_color
        "px" $px
        "class" (cond $embed "" $img_class)
        "style" $img_style
        "embed" $embed
        "alt" "Newsletter"
        "title" (cond (not $show_text) "Newsletter" "")
    ) -}}
    {{- end -}}
    {{- if $show_emoji -}}
      <span {{ $text_atttibs }}>🗞️</span>
    {{- end -}}
    {{- if $show_text -}}
      <span {{ $text_atttibs }}>Newsletter</span>
    {{- end -}}
    </a>
  {{- end -}}

  {{- if $enable_headings -}}
    </span>
    <span style="display: inline-block;">
  {{- end -}}

  {{- if and $enable_contact .phone -}}
  {{- $phone_title := "Phone" -}}
  {{- if .phone_can_text }}{{ $phone_title = "Phone / Text" }}{{ end -}}
  <a href="tel:{{ .phone }}" {{ $link_atttibs }}>
    {{- if $show_icon -}}
    {{- partial "icon.html" (
      dict
        "icon" "phone"
        "color" $icon_color
        "px" $px
        "class" (cond $embed "" $img_class)
        "style" $img_style
        "embed" $embed
        "alt" $phone_title
        "title" (cond (not $show_text) $phone_title "")
    ) -}}
    {{- end -}}
    {{- if $show_emoji -}}
      <span {{ $text_atttibs }}>📞</span>
    {{- end -}}
    {{- if $show_text -}}
      <span {{ $text_atttibs }}>{{ $phone_title }}</span>
    {{- end -}}
    {{- if $show_id -}}
      <span {{ $text_atttibs }}>{{ .phone }}</span>
    {{- end -}}
    </a>
  {{- end -}}

  {{- if and $enable_contact .email -}}
  <a href="mailto:{{ .email }}" {{ $link_atttibs }}>
    {{- if $show_icon -}}
    {{- partial "icon.html" (
      dict
        "icon" "email"
        "color" $icon_color
        "px" $px
        "class" (cond $embed "" $img_class)
        "style" $img_style
        "embed" $embed
        "alt" "Email"
        "title" (cond (not $show_text) "Email" "")
    ) -}}
    {{- end -}}
    {{- if $show_emoji -}}
      <span {{ $text_atttibs }}>📧</span>
    {{- end -}}
    {{- if $show_text -}}
      <span {{ $text_atttibs }}>Email</span>
    {{- end -}}
    {{- if $show_id -}}
      <span {{ $text_atttibs }}>{{ .email }}</span>
    {{- end -}}
    </a>
  {{- end -}}

  {{- if $enable_headings -}}
    </span>
    <h4 {{ $header_atttibs }}>Follow Us</h4>
    <span style="display: inline-block;">
  {{- end -}}

  {{- if .facebook -}}
    <a href="https://facebook.com/{{ .facebook }}" {{ $link_atttibs }}>
    {{- if $show_icon -}}
    {{- partial "icon.html" (
      dict
        "icon" "facebook"
        "color" $icon_color
        "px" $px
        "class" (cond $embed "" $img_class)
        "style" $img_style
        "embed" $embed
        "alt" "Facebook Page"
        "title" (cond (not $show_text) "Facebook" "")
    ) -}}
    {{- end -}}
    {{- if $show_emoji -}}
      <span {{ $text_atttibs }}>👍</span>
    {{- end -}}
    {{- if $show_text -}}
      <span {{ $text_atttibs }}>Facebook</span>
    {{- end -}}
    {{- if $show_id -}}
      <span {{ $text_atttibs }}>@{{ .facebook }}</span>
    {{- end -}}
    </a>
  {{- end -}}

  {{- if .instagram -}}
    <a href="https://instagram.com/{{ .instagram }}" {{ $link_atttibs }}>
    {{- if $show_icon -}}
    {{- partial "icon.html" (
      dict
        "icon" "instagram"
        "color" $icon_color
        "px" $px
        "class" (cond $embed "" $img_class)
        "style" $img_style
        "embed" $embed
        "alt" "Instagram"
        "title" (cond (not $show_text) "Instagram" "")
    ) -}}
    {{- end -}}
    {{- if $show_emoji -}}
      <span {{ $text_atttibs }}>📸</span>
    {{- end -}}
    {{- if $show_text -}}
      <span {{ $text_atttibs }}>Instagram</span>
    {{- end -}}
    {{- if $show_id -}}
      <span {{ $text_atttibs }}>@{{ .instagram }}</span>
    {{- end -}}
    </a>
  {{- end -}}

  {{- if .threads -}}
    <a href="https://threads.net/@{{ .threads }}" {{ $link_atttibs }}>
    {{- if $show_icon -}}
    {{- partial "icon.html" (
      dict
        "icon" "threads"
        "color" $icon_color
        "px" $px
        "class" (cond $embed "" $img_class)
        "style" $img_style
        "embed" $embed
        "alt" "Threads"
        "title" (cond (not $show_text) "Threads" "")
    ) -}}
    {{- end -}}
    {{- if $show_emoji -}}
      <span {{ $text_atttibs }}>🧵</span>
    {{- end -}}
    {{- if $show_text -}}
      <span {{ $text_atttibs }}>Threads</span>
    {{- end -}}
    {{- if $show_id -}}
      <span {{ $text_atttibs }}>@{{ .threads }}</span>
    {{- end -}}
    </a>
  {{- end -}}

  {{- if $enable_headings -}}
    </span>
    <span style="display: inline-block;">
  {{- end -}}

  {{- if .twitter -}}
    <a href="https://twitter.com/{{ .twitter }}" {{ $link_atttibs }}>
    {{- if $show_icon -}}
    {{- partial "icon.html" (
      dict
        "icon" "twitter"
        "color" $icon_color
        "px" $px
        "class" (cond $embed "" $img_class)
        "style" $img_style
        "embed" $embed
        "alt" "Twitter"
        "title" (cond (not $show_text) "Twitter" "")
    ) -}}
    {{- end -}}
    {{- if $show_emoji -}}
      <span {{ $text_atttibs }}>🐦</span>
    {{- end -}}
    {{- if $show_text -}}
      <span {{ $text_atttibs }}>Twitter</span>
    {{- end -}}
    {{- if $show_id -}}
      <span {{ $text_atttibs }}>@{{ .twitter }}</span>
    {{- end -}}
    </a>
  {{- end -}}

  {{- if .youtube -}}
    <a href="https://youtube.com/{{ .youtube }}" {{ $link_atttibs }}>
    {{- if $show_icon -}}
    {{- partial "icon.html" (
      dict
        "icon" "youtube"
        "color" $icon_color
        "px" $px
        "class" (cond $embed "" $img_class)
        "style" $img_style
        "embed" $embed
        "alt" "YouTube"
        "title" (cond (not $show_text) "YouTube" "")
    ) -}}
    {{- end -}}
    {{- if $show_emoji -}}
      <span {{ $text_atttibs }}>📺</span>
    {{- end -}}
    {{- if $show_text -}}
      <span {{ $text_atttibs }}>YouTube</span>
    {{- end -}}
    {{- if $show_id -}}
      <span {{ $text_atttibs }}>@{{ .youtube }}</span>
    {{- end -}}
    </a>
  {{- end -}}

  {{- if .tiktok -}}
    <a href="https://tiktok.com/@{{ .tiktok }}" {{ $link_atttibs }}>
    {{- if $show_icon -}}
    {{- partial "icon.html" (
      dict
        "icon" "tiktok"
        "color" $icon_color
        "px" $px
        "class" (cond $embed "" $img_class)
        "style" $img_style
        "embed" $embed
        "alt" "TikTok"
        "title" (cond (not $show_text) "TikTok" "")
    ) -}}
    {{- end -}}
    {{- if $show_emoji -}}
      <span {{ $text_atttibs }}>📱</span>
    {{- end -}}
    {{- if $show_text -}}
      <span {{ $text_atttibs }}>TikTok</span>
    {{- end -}}
    {{- if $show_id -}}
      <span {{ $text_atttibs }}>@{{ .tiktok }}</span>
    {{- end -}}
    </a>
  {{- end -}}

  {{- if $enable_headings -}}
    </span>
    <h4 {{ $header_atttibs }}>Join the Community</h4>
  {{- end -}}

  {{- if .facebook_group -}}
    <a href="https://facebook.com/groups/{{ .facebook_group }}" {{ $link_atttibs }}>
    {{- if $show_icon -}}
    {{- partial "icon.html" (
      dict
        "icon" "group"
        "color" $icon_color
        "px" $px
        "class" (cond $embed "" $img_class)
        "style" $img_style
        "embed" $embed
        "alt" "Facebook Group"
        "title" (cond (not $show_text) "Facebook Group" "")
    ) -}}
    {{- end -}}
    {{- if $show_emoji -}}
      <span {{ $text_atttibs }}>👥</span>
    {{- end -}}
    {{- if $show_text -}}
      <span {{ $text_atttibs }}>Facebook Group</span>
    {{- end -}}
    </a>
  {{- end -}}

  {{- if .discord_server -}}
    <a href="{{ .discord_server_invite }}" {{ $link_atttibs }}>
    {{- if $show_icon -}}
      {{- partial "icon.html" (
      dict
        "icon" "discord"
        "color" $icon_color
        "px" $px
        "class" (cond $embed "" $img_class)
        "style" $img_style
        "embed" $embed
        "alt" "Discord"
        "title" (cond (not $show_text) "Discord" "")
    ) -}}
    {{- end -}}
    {{- if $show_emoji -}}
      <span {{ $text_atttibs }}>💬</span>
    {{- end -}}
    {{- if $show_text -}}
      <span {{ $text_atttibs }}>Discord</span>
    {{- end -}}
    </a>
  {{- end -}}

{{- if $embed -}}
</div>
{{- else -}}
</nav>
{{- end -}}

{{- end -}}
