{{ define "head" }}
  {{- partial "head.html" . -}}
  {{- partial "layout/stylesheet.html" "events" -}}
{{ end }}

{{ define "title" }}
{{- partial "title.html" (dict "Title" .Title "Site" .Site "ShowSiteTitle" true) -}}
{{ end }}

{{ define "main" }}
{{ .Content }}

{{ $currentYear := now.Year }}
{{ $currentYearEvents := where .Data.Pages ".Date.Year" $currentYear }}
{{ $priorYearEvents := where .Data.Pages ".Date.Year" "<" $currentYear }}

{{ partial "content/event_list.html" $currentYearEvents }}

<br clear="all" />
<br/>
<br/>
<h2>Prior Year Events</h2>
<br/>
{{ partial "content/event_list.html" $priorYearEvents }}
{{ end }}
