{{- $now := now -}}
{{- $all_events := where .Site.RegularPages "Section" "events" -}}
{{- $featured_events := slice -}}

{{- range $all_events -}}
  {{- if and .Params.featured .Params.event_end -}}
    {{- $end_time := time.AsTime .Params.event_end -}}
    {{- if $end_time.After $now -}}
      {{- $featured_events = $featured_events | append . -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- if $featured_events -}}
{{ partial "layout/stylesheet.html" "events" }}
<style>
  h2.coming-events-header {
    text-align: center;
    margin: 0 auto 1rem auto;
    padding: 1rem;
    background-color: var(--48-purple);
    color: var(--48-white);
    border-radius: 1rem 1rem 0 0;
  }
</style>
<div class="featured-events">
  <h2 class="coming-events-header">Coming Events</h2>
  {{ range $featured_events -}}
  {{ $start_time := time.AsTime .Params.event_start -}}
  {{ $end_time := time.AsTime .Params.event_end -}}
  <article class="event{{ if (gt time.Now $end_time) }} expired{{ end }}">
  <div class="thumb{{ if not .Params.image }} hide-small{{ end }}">
  {{ $link := .RelPermalink -}}
  {{ with .Resources.Get .Params.image -}}
    {{ $thumb := .Resize "300x" -}}
    {{ with $thumb }}
      <a href="{{ $link }}"><img src="{{ .RelPermalink }}" /></a>
    {{ end -}}
  {{ else }}
    <a href="{{ $link }}"><img src="/images/logo-purple.png" /></a>
  {{- end }}
  </div>
  <div class="content">
    <h3>
      <a href="{{ $link }}">{{ .Title }}</a>
    </h3>
    {{ partial "content/event-timespan.html" (dict "start_time" $start_time "end_time" $end_time) }}
    {{- if .Summary -}}<p class="summary">{{ .Summary }}</p>{{- end -}}
  </div>
  </article>
  {{ end }} 
</div>
{{ end }}