{{ partial "header.html" . }}

<h1>{{ .Site.Title }}<br/>{{ .Title }}</h1>

<div class="event">
  <div class="infoblock">
    {{ if .Params.facebook_event_url -}}
      <a href="{{ .Params.facebook_event_url }}" class="button">
        {{ partial "icon.html" (dict "icon" "facebook" "color" "black" "px" "24") }}
        RSVP to Facebook Event
      </a>
    {{ end -}}
    <h3>Schedule</h3>
    {{ $start_time := time.AsTime .Params.event_start -}}
    {{ $end_time := time.AsTime .Params.event_end -}}
    {{ partial "event-timespan.html" (dict "start_time" $start_time "end_time" $end_time) }}
    {{ if .Params.calendarlink_url -}}
      <a href="{{ .Params.calendarlink_url }}" class="button">
        {{ partial "icon.html" (dict "icon" "calendar" "color" "black" "px" "24") }}
        Add to Calendar
      </a>
    {{ end -}}
    <h3>Location</h3>
    {{ if .Params.location_logo -}}
      {{ if .Params.location_url }}<a href="{{ .Params.location_url }}">{{ end -}}
      <img src="{{ .Params.location_logo }}"/>
      {{ if .Params.location_url }}</a>{{ end -}}
    {{ end -}}
    {{ if .Params.location_name -}}
      <h4>
      {{ if .Params.location_url -}}
        <a href="{{ .Params.location_url }}">{{ .Params.location_name }}</a>
      {{ else -}}
        {{ .Params.location_name }}
      {{ end -}}
      </h4>
      {{ if .Params.location_details -}}
        <p>{{ .Params.location_details }}</p>
      {{ end -}}
    {{ end -}}
    {{ if .Params.location_address -}}
      <p>
      {{ if .Params.location_map_url -}}
        <a href="{{ .Params.location_map_url }}">{{ .Params.location_address }}</a>
      {{ else -}}
        {{ .Params.location_address }}
      {{ end -}}
      </p>
    {{ end -}}
    {{ if .Params.location_map_url -}}
      <a href="{{ .Params.location_map_url }}" class="button">
      {{ partial "icon.html" (dict "icon" "location" "color" "black" "px" "24") }}
      Google Map</a>
    {{ end -}}
    {{ if .Params.location_socials -}}
    <hr/>
    <p>{{ .Params.location_name }} social media:</p>
    {{ range .Params.location_socials -}}
      <a href="{{ .url }}" class="button">{{ .name }}</a>
    {{ end -}}
    {{ end -}}
  </div>

  {{ with .Resources.Get .Params.image -}}
  <img src="{{ .RelPermalink }}" class="event-image"/>
  {{ else }}
  <img src="/images/logo-purple.png" class="event-image"/>
  {{ end -}}

  <div class="event-content">
    {{ .Summary | markdownify }}
    {{ .Content }}
    {{ if .Params.org_info }}
    {{ .Params.org_info | markdownify }}
    {{ end }}
  </div>

</div>

{{ partial "footer.html" . }}
