<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body style="font-family: Roboto, sans-serif; max-width: 600px; margin: 0 auto; font-size: 16px;background-color: #69388e;">

<div style="text-align: center; margin: 0; padding: 32px;background-color: #EDAD28;">
  <h1 style="font-size: 1rem; margin: 0; color: #fff;">{{ .Title }}</h1>
</div>

<div style="background-color: #fff; margin: 0; padding: 30px;">

<div>{{ .Summary | markdownify }}</div>

<div>{{ .Content }}</div>

<hr/>
<h3>When ⏳</h3>

<blockquote>
  {{- partial "event-timespan.html" (
    dict
      "start_time" (time.AsTime .Params.event_start)
      "end_time" (time.AsTime .Params.event_end)
      "plain" true
    ) -}}<br/>
    {{ if .Params.calendarlink_url }}
    <a href="{{ .Params.calendarlink_url }}">
      Add to Calendar
    </a> &nbsp; 📅
    {{ end }}
    </blockquote>

<h3>Where 🌐</h3>

<blockquote>
<a href="{{ .Params.location_url }}">{{ .Params.location_name }}</a><br/>
{{ if .Params.location_details -}}
{{ .Params.location_details }}<br/>
{{- end }}
<br/>
{{- .Params.location_address -}}
{{ if .Params.location_map_url }}<br/>
<a href="{{ .Params.location_map_url }}">
  Google Map
</a> &nbsp;📍
{{ end }}
</blockquote>

<h3>Event Links 🔗</h3>

<blockquote>
➡️ <a href="{{ .RelPermalink }}">
  Event Page at SanDiego48.com
</a><br/>
{{ if .Params.facebook_event_url }}
👍 <a href="{{ .Params.facebook_event_url }}">
  RSVP on Facebook
</a><br/>
{{ end }}
</blockquote>

<hr/>
<h3>Find or Follow Us Online ❤️</h3>

{{/* partial "socials.html" (dict 
  "nav_style" "text-align: left !important;"
  "bg_color" "#ccc"
  "size" 0.8
  "show_text" true
  "show_emoji" true
  "show_icon" false
  "embed" true
  "enable_home" true
  "enable_newsletter" true
  "Site" .Site
) */}}

<div>
{{ with .Site.Params -}}
👍<a href="https://facebook.com/@{{ .facebook_page }}">Facebook</a> &nbsp;
📸<a href="https://instagram.com/{{ .instagram }}">Instagram</a> &nbsp;
🧵<a href="https://threads.net/@{{ .threads }}">Threads</a> &nbsp;
📱<a href="https://tiktok.com/@{{ .tiktok }}">TikTok</a> &nbsp;
🐦<a href="https://twitter.com/{{ .twitter }}">Twitter</a> &nbsp;
{{- end -}}
<br/>
🌐<a href="https://sandiego48.com">SanDiego48.com</a> &nbsp;
{{ if .Site.Params.facebook_group -}}
👥<a href="https://facebook.com/groups/{{ .Site.Params.facebook_group }}">Facebook Group</a> &nbsp;
{{ end }}
{{ if .Site.Params.discord_server -}}
💬<a href="{{ .Site.Params.discord_server_invite }}">Discord Server</a>
{{ end }}
</div>

<br/>
<br/>

{{ with (.Resources.Get .Params.image) -}}
  {{ with .Resize "600x q80" -}}
  {{/* <img src="data:{{ .MediaType }};base64,{{ .Content | base64Encode }}" alt="{{ $.Title }}" style="margin: 1rem 0; border-radius: 0.5rem; max-width: 100%; height: auto;"/> */}}
  <img src="{{ .Permalink }}" alt="{{ $.Title }}" style="margin: 1rem 0; border-radius: 0.5rem; max-width: 100%; height: auto;"/>
  {{ end -}}
{{ end -}}

</div>

</body>
</html>