{{ define "title" }}
{{- partial "title.html" (dict "Title" .Title "Site" .Site) -}}
{{ end }}

{{ define "main" }}
<style>
.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 640px;
  margin: 0 auto;
  padding: 1rem;
}

.links h2 {
  margin-top: 2rem;
  text-align: center;
}

.links h2:first-of-type {
  margin-top: 0;
}

.links .button-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.25rem;
}

.links a.button {
  --icon-spacing: 0.75em;
  --icon-scale: 1.25;
}

</style>

<div class="links-page">
  {{ .Content }}
  
  <div class="links">
    
    <h2 id="online">San Diego 48 Hour Film Project Online</h2>
    <div class="button-list">
      {{- partial "components/button.html" (dict
            "url" ("/" | relURL)
            "text" .Site.Params.site_link_text
            "icon" "sd48"
            "class" "wide big left"
      ) -}}
      {{- partial "components/button.html" (dict
            "url" ("/go/newsletter" | relURL)
            "text" "Subscribe to Newsletter"
            "class" "wide big left"
      ) -}}
      {{- partial "components/button.html" (dict
            "url" "/events"
            "text" "View Events"
            "target" "_self"
            "class" "wide big left"
      ) -}}
      {{- partial "components/button.html" (dict
            "url" "https://www.48hourfilm.com"
            "text" "48 Hour Film Project HQ"
            "icon" "48hfp"
            "class" "wide big left"
      ) -}}
    </div>
    
    <h2 id="socials">Follow Us On Social Media</h2>
    <div class="button-list">
      {{- partial "components/common-buttons.html" (dict
            "Site" .Site
            "Page" .
            "class" "button-list"
            "button_class" "wide big left"
            "enable_home" false
            "enable_newsletter" false
            "enable_socials" true
            "enable_community" false
            "enable_contact" false
            "show_text" true
            "collapse" false
      ) -}}
    </div>

    <h2 id="community">Join Our Community</h2>
    <div class="button-list">
      {{- partial "components/button.html" (dict
            "if" .Site.Params.facebook_group
            "url" (printf "https://facebook.com/groups/%s" .Site.Params.facebook_group)
            "text" "Join Facebook Group"
            "class" "wide big left"
      ) -}}
      {{- partial "components/button.html" (dict
            "if" .Site.Params.discord_server_invite
            "url" .Site.Params.discord_server_invite
            "text" "Join Discord Server"
            "class" "wide big left"
      ) -}}
    </div>
    
    <h2 id="contact">Contact Us</h2>
    <div class="button-list">
      {{- partial "components/button.html" (dict
            "if" .Site.Params.email
            "url" (printf "mailto:%s" .Site.Params.email)
            "text" (printf "Email %s" .Site.Params.email)
            "class" "wide big left"
      ) -}}
      {{- partial "components/button.html" (dict
            "if" .Site.Params.phone
            "url" (printf "tel:%s" .Site.Params.phone)
            "text" (printf "%s %s" (cond .Site.Params.phone_can_text "Phone / Text" "Phone") .Site.Params.phone)
            "class" "wide big left"
      ) -}}
    </div>
    
  </div>
</div>
{{ end }} 
